<web-app>
	<servlet>
		<servlet-name>LoginServletEx</servlet-name>
		<servlet-class>com.servlet.ex.LoginServletEx</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServletEx</servlet-name>
		<url-pattern>/loginserv</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>
